extends skeleton.pug

block content
    h1= title
    p
        a(href="/games") Liste des parties   

    form(action=`/players/new`, method="GET")
        input(type="submit" value="Créer un joueur")

    if players.length === 0
       p Pas de joueurs trouvés
    else
        table(style="width:50%", border=5)
            tr
                th Nom 
                th Email 
                th Actions
            each player in players 
                tr(style="text-align: center") 
                    td= player.name 
                    td= player.email
                    td
                        form(action=`/players/${player.id}`, method="GET")
                            input(type="submit" value="Détails")
                        form(action=`/players/${player.id}?_method=DELETE`, method="POST")
                            input(type="submit" value="Supprimer")